/* Botón principal: Registrar / Actualizar */
button.btn.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 123, 255, 0.3);
  cursor: pointer;
  
}

button.btn.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-1px);
  align-self: center;
}

/* Botón Cancelar */
.btn-cancelar {
  margin-left: 10px;
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(220, 53, 69, 0.3);
}

.btn-cancelar:hover {
  background-color: #a71d2a;
  transform: translateY(-1px);
}

/* Estilo para botones de acciones en la tabla */
.btn-accion {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  margin-right: 5px;
  display: inline-block;
  transition: background 0.3s ease;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bd2130;
}

.btn-activar {
  background-color: #28a745;
}

.btn-activar:hover {
  background-color: #1e7e34;
}

/* Tabla de materias */
.tabla-lista {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-lista th,
.tabla-lista td {
  padding: 12px;
  border: 1px solid #ddd;
}

.tabla-lista th {   
  background-color: #6da5de;
  text-align: left;
}

.fila-inactiva {
  background-color: #59080e;
  color: #531117;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px; /* espacio entre botones */
}
